.overlay {
  position: absolute !important;
  width: 100% !important;
  left: 0 !important;
  z-index: 10;
  ul {
    display: flex;
    flex-wrap: wrap;
    background: var(--primary) !important;
    border: 1px solid var(--black) !important;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.17) !important;
    border-radius: 0px 0px 30px 30px !important;
    width: 100% !important;
    gap: 30px !important;
    padding: 40px 100px 40px 25px !important;

    li {
      padding: 6.5px 20px;
      border: 1px solid #ffffff;
      border-radius: 30px !important;
      background: transparent;

      span {
        font-family: "Inter";
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: var(--white);
        user-select: none;
      }
    }
    li:hover {
      background: var(--white) !important;
      span {
        color: var(--primary) !important;
      }
    }
  }
}

.divMain {
  position: relative !important;
  display: flex !important;
  align-items: center;
  width: 100% !important;
  gap: 20px;
  border: 1px solid #461773;
  border-radius: 30px;
  background-color: var(--white);
  margin: 50px 100px;
  padding: 7px 20px;
  .h1 {
    color: red;
    border-left: 1px solid #0a0311;
    padding: 5px 0 5px 20px;
  }
}
