.section_list{
  display: flex;
  align-items: center;
  width: 100%;
  overflow-x: scroll;
  padding-bottom: 10px;
  .title {
    margin-right: 20px;
    text-transform: capitalize;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--text);

  }
  .tag_list{
    display: flex;
    align-items: center;
    margin-right: 20px;
    flex-shrink: 0;
  }

}
.section_list::-webkit-scrollbar{
  display: none;
}
