@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  text-decoration: none;
  font-family: inherit;
}

body {
  font-family: "Inter";
}

:root {
  --primary: #461773;
  --white: #ffffff;
  --black: #000000;
  --text: #0a0311;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 11px;
  background-color: white;
}
::-webkit-scrollbar-track {
  background-color: var(--primary);
  border-left: 4.8px solid white;
  border-right: 4.8px solid white;
}
::-webkit-scrollbar-thumb {
  height: 11px;
  border-radius: 10px;
  background-color: var(--primary);
}
.map-container {
  width: 500px;
  height: 600px;
}
@media (max-width: 500px) {
  .map-container {
    width: 300px;
    height: 400px;
  }
}

/*.container {*/
/*  width: 1200px;*/
/*  margin: 0 auto;*/
/*}*/

/*@media (max-width: 1250px) {*/
/*  .container {*/
/*    width: 1100px;*/
/*  }*/
/*}*/
/*@media (max-width: 1150px) {*/
/*  .container {*/
/*    width: 1000px;*/
/*  }*/
/*}*/
/*@media (max-width: 1020px) {*/
/*  .container {*/
/*    width: 900px;*/
/*  }*/
/*}*/

/*@media (max-width: 920px) {*/
/*  .container {*/
/*    max-width: 800px;*/
/*  }*/
/*}*/

.container {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 260px;
}

@media (max-width: 1600px) {
  .container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 100px;
  }
}
@media (max-width: 1200px) {
  .container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0 40px;
  }
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .container {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
    padding: 0 30px;
  }
}

@media (max-width: 576px) {
  .container {
    width: 100%;
    max-width: 576px;
    margin: 0 auto;
    padding: 0 20px;
  }
}
@media (max-width: 480px) {
  .container {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
  }
}
