// responsive widths
$xs: 375px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1201px;
$xxl: 1920px;
// font-family
$font_titles: 'Inter';
$font_texts: sans-serif;
$font_emoji: emoji;
$font_btn: monospace;
// colors
$primary: #461773;
$secondary: #FEDA00;
$dark: #000;
$light: #fff;
$reddish: #e54555;
$denger: #ff0000;
$grey: #666;
$green: #00FF00;
// border-radius
$br_r_50pr: 50%;
$br_r_30: 30px;
$br_r_10: 10px;
$br_r_5: 5px;
$br_r_0: 0;
// width-elements
$w_100: 100%;
$w_90: 90%;
$w_50: 49.9%;
$w_50: 24.9%;
$w_50: 10%;
