.container {
  padding: 20px 0 80px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 40px;
}

.cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
