.cards {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.link {
  color: inherit;
  text-decoration: none;
}
.card {
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #0a0311;
  border-radius: 30px;
  padding: 30px;
  padding-bottom: 66px;
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  width: 380px;
  position: relative;
  min-height: 100%;
  &__heading {
    padding-bottom: 90px;
  }
  &__tags {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
    min-height: 80px;
    align-items: start;
  }
  &__footer {
    position: absolute;
    left: auto;
    bottom: 66px;
    width: 100%;
    // height: 80px;
  }
  &__span {
    color: darkslateblue;
  }
}
